# Byte-code files
*.pyc
__pycache__/
*.pyd
*.so

# Virtual environment
.venv/
venv/
env/
/site/

# Editor/IDE files
.vscode/
.idea/ 
*.swp
*.bak
*.swo

# Project-specific files
*.log
*.sqlite3
db.sqlite3
*.env
.env.local
.flaskenv
instance/

# Test-related files
.pytest_cache/
htmlcov/
.coverage

# Operating system files
.DS_Store
Thumbs.db